/* --- CONTENEDOR ESPECÍFICO DE ADMIN --- */
.ad-start-page-container {
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.ad-mensaje-bienvenido {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin: 40px 0 50px 0;
    font-family: 'Fredoka', sans-serif;
    color: #333;
}

/* --- GRID DE 6 BOTONES (2 filas x 3 columnas) --- */
.ad-grid-menu {
    display: grid;
    /* Usamos 3 columnas directas para que los 6 botones encajen perfecto */
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    width: 100%;
    max-width: 650px; 
    margin: 0 auto;
}

/* Estilo base de los botones de Admin */
.ad-btn {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    border: none;
    aspect-ratio: 1 / 1; 
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    font-family: 'Fredoka', sans-serif;
}

.ad-btn i {
    padding-top: 10px;
    font-size: 35px;
}

.ad-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    filter: brightness(0.95);
}

/* --- COLORES ÚNICOS --- */
.ad-btn-usuarios { background-color: #A3D9D0; color: #333; }
.ad-btn-productos { background-color: #11cfb0; color: #fff; }
.ad-btn-listas { background-color: #EFE675; color: #333; }
.ad-btn-ayuda { background-color: #F4A467; color: #fff; }
.ad-btn-padecimientos { background-color: #f46767; color: #fff; }
.ad-btn-salir { background-color: #d41a1a; color: #fff; }

/* --- RESPONSIVE --- */
@media (max-width: 600px) {
    .ad-grid-menu {
        grid-template-columns: repeat(2, 1fr); /* 3 filas de 2 botones en móvil */
        gap: 15px;
        max-width: 400px;
    }
    .ad-btn {
        font-size: 16px;
    }
    .ad-btn i {
        font-size: 30px;
    }
}