/* src/screens/SearchPage.css */

.search-page-container{
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.search-card .back-search {
    font-size: 22px;
    cursor: pointer;
    text-align: left;
    /* Para font-awesome, necesitas importarlo globalmente, como lo hiciste en el HTML */
}

.search-card .titleSerch {
    text-align: center;
    margin-top: -26px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.brand {
    /* Estilo del nombre NutriSmart en el encabezado */
    font-size: 24px;
    font-weight: bold;
}

.profile-icon {
    font-size: 30px;
    cursor: pointer;
}

.search-logo-container {
    text-align: center;
    margin-top: -70px; 
}

.search-card {
    background: #d8f6be;
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.search-card h2 {
    /* Alineación del título "Buscar Producto" */
    margin-top: 0; 
}

.search-box {
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-top: 10px;
}

.search-box i {
    font-size: 18px;
    color: #333; /* Para asegurar que el ícono se vea */
}

.search-box input {
    border: none;
    flex: 1;
    padding: 8px;
    font-size: 14px;
    outline: none;
    background-color: transparent;
}

.recent-card {
    background: #faf3a8;
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
}

/* Estilos para el Componente Anidado (RecentItem) */

.flecha {   
    font-size: 20px;
    cursor: pointer;
}