/* src/screens/WelcomePage.css */

.container {
    text-align: center;
    padding: 36px;
}

/* Estilos para el Logo y Título */
.logo {
    width: 85px;
    margin-bottom: 10px;
    margin-top: 80px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

/* Estilos para la sección de contenido */
.content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0 40px;
}

.content h2 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content p {
    max-width: 350px;
    font-size: 14px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Estilos para los botones */
.WelcomeBotones {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.login {
    background: #4CAF50;
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.registrar {
    background: #F4B400;
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.login:hover {
    background: #3e8e41;
}

.registrar:hover {
    background: #d89d00;
}